@charset "utf-8";


@font-face {
    font-family: 'Ubuntu';
    src: url('..\fonts\Ubuntu-Regular.ttf') format('truetype');


}


body{
    background-color: white;
    font-size: 18px;
}


.contenedor{
    margin: auto;
    text-align: center;


}
p{
    margin-bottom: 15px;
}


.verdana{
    font-family: Verdana,sans-serif;
}
.didot{
    font-family:Didot,serif;
}
.freemono{
    font-family:FreeMono,monospace;
}
.roboto{
    font-family:'Roboto',sans-serif;
}
.ubuntu{
    font-family:'Ubuntu',sans-serif;
    font-size: 28px;
}
.montserrat{
    font-family:'Montserrat',sans-serif;
}
