@charset "utf-8";


:root{
    --fuente-principal: 'Merienda', cursive;
}
* {
  box-sizing: border-box;
}


h1, h4, p {
    margin: 0px;
}


body {
  background-color: white;
}


.container {
  color: #005c99;
  font-family: var(--fuente-principal);
  margin: 20px auto;
  width: 90%;
}


.content_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  justify-content: space-between;
}


header {
  border-bottom: 1px solid #005c99;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  width: 100%;
}


nav {
  padding: 1em;
  width: 10%;
}


nav div {
  margin-bottom: 20px;
}


main {
  border: 1px solid #004d80;
  border-radius: 1em;
  height: 400px;
  padding: 1em;
  text-align: center;
  width: 55%;
}


main img {
  border-radius: 1em;
  height: 70%;
  width: 80%;
}


.content_wrapper article:nth-of-type(1) {
  height: 400px;
}


article {
  border: 1px solid #004d80;
  border-radius: 1em;
  height: 300px;
  padding: 1em;
  text-align: center;
  width: 32%;
}


.articles {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}


article img {
  border-radius: 1em;
  height: 60%;
  width: 100%;
}


footer {
  align-items: center;
  border-top: 1px solid #005c99;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  padding: 2em;
}


footer img {
  width: 30px;
}

